.App {
  text-align: center;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: #a2cdc263 !important;
  color: rgb(0 0 0 / 87%);
  width: 22vw;
}
.questionsContainer {
  display: flex;
  grid-auto-columns: auto auto;
  width: 100vw;
  justify-content: space-around;
}
.startButton {
  text-decoration: none !important;
  background: #ebe4e4;
  color: black;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
}
.ͼ1p .cm-scroller {
  overflow-x: initial !important;}
  .css-1nuu1kx-MuiPaper-root-MuiCard-root {
    width: 686px;
    height: 400px;
  }